body{
    background-image: url("images/pizza bkg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.tagline{
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 150px;
    text-align: right;
    line-height: 150px;
    margin-right: 100px;
    margin-left: 20px;
    padding-top: 250px;
}

.tagline2{
    font-family: Vivaldi;
    color: #F54900;
    font-size: 60px;
    text-align: right;
    margin-right: 100px;
    margin-top: -30px;
    margin-bottom: 15px;
}

.tagline3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
}


nav {
    height: 80px;
    background: transparent;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}


#logo-img {
    display: flex;
    height: 100%;
    background: transparent;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 100px;
}

.vieworder{
    border: none;
    background: #F54900;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-right: 5px;
}

.makeorder{
    border: none;
    background: #F54900;
    color: white;
    border-radius: 50px;
    height: 100px;
    width: 300px;
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
}

#banner2{
    height: 500px;
    width: 100%;
    background-color: white;
}











